/* Global Styles */
body {
    scroll-behavior: smooth;
    margin-top: 60px;
}
.home {
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .home img {
        width: 70%;
    }
    .navbar-nav {
        text-align: center;
    }
    .about p {
        text-align: justify;
    }
}
